<!DOCTYPE html>
<html>
<head>
    <title>Inked</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/semantic-ui/2.2.6/semantic.min.css">
    <link rel="stylesheet" href="../stylesheets/allblogs.css">
</head>
<body>
<div class="container">
    <span class="borderBottom">
        <h2 class="ui header"><a href="#">Technology</a></h2>
    </span>
    
</div>


</body>

</html>


