<% include ../partials/header%>

<div class="container">
    <div class="row">
        <h1 style="text-align: center">Create a new blog</h1>
        <div style="width:30%; margin: 25px auto;">
            <div class="ui form" action="#" method="POST">
                <div class="field">
                    <label>Title</label>
                    <input type="text" name="title" placeholder="Title">
                </div>
                <div class="field">
                    <label>Image</label>
                    <input type="text" name="image" placeholder="Image URL">
                </div>
                <div class="field">
                    <label>Content</label>
                    <textarea></textarea>
                </div>
                    <button class="ui green basic button">Submit</button>
            </form>
        </div>
    </div>
</div>

<% include ../partials/footer%>