<% include ../partials/header%>

<div class="container">
    <div class="row">
        <h1 style="text-align: center">Create a new blog</h1>
        <div style="width:30%; margin: 25px auto;">
            <form class="ui form" action="/blogs" method="POST">
                <div class="field">
                    <label>Title</label>
                    <input type="text" name="title" placeholder="Title">
                </div>
                <div class="field">
                    <label>Image</label>
                    <input type="text" name="image" placeholder="Image URL">
                </div>
                <div class="field">
                    <label>Content</label>
                    <textarea name="content" placeholder="Enter you content here..."></textarea>
                </div>
                <select class="ui dropdown" name ="category">
                    <optgroup label="Categories">
                    <% categories.forEach(function (category) { %>
                        <option value= "<%=category._id%>" ><%=category.name%></option>
                    <%})%>
                    </optgroup>
                </select>

                <input type="submit" class="ui green basic button">
            </form>
        </form>
    </div>
</div>
</div>

<% include ../partials/footer%>




