

<div class="ui inverted vertical footer segment">
    <div class="ui center aligned container">
        <div class="ui stackable inverted divided grid">
            <!--<div class="five wide column">
                <h4 class="ui inverted header">Group 1</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Link One</a>
                    <a href="#" class="item">Link Two</a>
                    <a href="#" class="item">Link Three</a>
                    <a href="#" class="item">Link Four</a>
                </div>
            </div>-->
            <div class="eight wide column">
                <h4 class="ui inverted header">The Team</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Agam Gupta</a>
                    <a href="#" class="item">Shubham Singh</a>
                </div>
            </div>
            <div class="eight wide column">
                <h4 class="ui inverted header">Inkd</h4>
                <p>Jo likhna hai likho. Jee bharke likho. :P</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
<!--
        <img src="assets/images/logo.png" class="ui centered mini image">
-->     <h2 class="ui header" style="color: white; margin-bottom: 0px;">Inkd</h2>
        <div class="ui horizontal inverted small divided link list">
            <a class="item" href="#">Contact Us</a>
            <a class="item" href="#">Terms and Conditions</a>
            <a class="item" href="#">Privacy Policy</a>
        </div>
    </div>
</div>


    </body>
</html>
