
.categories {
    color: white;
    margin-top: 1.5em;
    margin-left: 5%;
    margin-right: 5%;
}

.ui.inverted.green.button {
    color: #ffffff;
}

.ui.inverted.menu.item a {
    color: black;
}

.ui.menu .item {
    vertical-align: middle;
    font-size: 18px;
}

.ui.inverted.item {
    background-origin: border-box;
    padding-bottom: 13px;
    padding-top: 13px;
    padding-left: 16px;
    padding-right: 16px;
}

.ui.inverted.menu {
    background-color: #0b1c68;
}

.ui.inverted.menu .item {
    border-color: rgba(255, 255, 255, 0.9);
    background: transparent;
}

.ui.simple.right.dropdown.item {
    margin-right: 10px;
}

.ui.card {
    height: 200px;
}

.left-spacing {
    margin-left: 7%;
}

.allTopicsContainer {
    margin-top: 8em;
    margin-left: auto;
    margin-left: 5%;
    margin-right: 5%;
}

.category-title {
    padding-bottom: 20px;
    margin-top: 20px;
    border-bottom: 1px solid;
    border-bottom-color: rgba(0, 0, 0, 0.15);
}

.borderBottom a {
    color: black;
    border-bottom: 2px solid;
    border-bottom-color: rgba(0, 0, 0, 0.74);
    padding-bottom: 20px;
}

.category-more {
    float: right;
    font-size: 15px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.54);
    display: flex;
    margin-bottom: 10px;
}

.header.blog-title {
    max-width: inherit;
}

.blog-description {
    max-width: inherit;
}

.category-content a:hover {
    color: rgba(0, 0, 0, 0.84);
}

.ui.three.column.grid.category-content {
    margin-top: 15px;
    margin-left: 10px;
}



a {
    color: inherit;
}

a:hover {
    text-decoration: none;
}

body {
    background-color: #fff;
}


