
.ui.card{
    height: 200px;
}
.allBlogsContainer{
    margin-top: 5em;
    margin-left: auto;
    margin-left: 5%;
    margin-right: 5%;
}
.category-title{
    padding-bottom: 20px;
    margin-top: 20px;
    border-bottom: 1px solid;
    border-bottom-color: rgba(0,0,0,0.15);
}
.borderBottom a{
    color: black;
    border-bottom: 2px solid;
    border-bottom-color: rgba(0,0,0,0.74);
    padding-bottom: 20px;
}
.category-more{
    float: right;
    font-size: 15px;
    text-transform: uppercase;
    color: rgba(0,0,0,0.54);
    display: flex;
    margin-bottom: 10px;
}
.header.blog-title{
    max-width: inherit;
}
.blog-description{
    max-width: inherit;
}
.category-content a:hover{
    color: rgba(0,0,0,0.84);
}

.ui.three.column.grid.category-content{
    margin-top: 15px;
    margin-left: 10px;
}
body{
    background-color : #fff;
}


